.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 12rem;
    width: 45rem;
    border: 2px solid rgb(231, 13, 13);
    margin: 50px;
    border-radius: 10px;
    box-shadow: 10px #353535;
}

.input-box{
    height: 2.5rem;
    width: 30rem; 
    border-radius: 10px; 
    padding: 10px;  
    margin: 8px;
}

.text{
    color: darkred;
    font-size: 2rem ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.btn{
    height: 2.5rem;
    width: 5rem;
    border: none;
    background-color: darkred;
    color: white;
    margin-top:10px;
    border-radius: 8px;
    transition: ease-in-out;
}

.btn:hover{
    width: 5rem;
    color: beige;
    background-color: rgb(118, 61, 61);
}

